<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>--> 

    <section name="ElFinder" type="ElFinder.Connector.Configuration.ElFinderSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />

    <section name="yafnet" type="yaf.SectionHandler,yaf" />
    <!--<section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />-->
    
  </configSections>
  <yafnet configSource="yafnet.config" />
  <!--<rewriter configSource="urlrewriter.config" />-->
  <appSettings>
    <add key="Domain" value="" />
  </appSettings>  
  <connectionStrings>
    <add name="con" connectionString="Data Source=103.28.36.92;Initial Catalog=nhbieuo8_camnangspa;Persist Security Info=True;User ID=nhbieuo8_dbuser;Password=aB123$567dbusr; Pooling=False;" providerName="System.Data.SqlClient" />
    <!--<add name="con" connectionString="Data Source=(local);Initial Catalog=spav4;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
    <!--<add name="con" connectionString="Data Source=(local);Initial Catalog=spav4;Integrated Security=True; Pooling=False;" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.http://localhost:6714/website_docsoft/web.config
        -->
    <httpRuntime requestValidationMode="2.0" />
	<compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
     
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms" />
    
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    
    <customErrors mode="Off" />
  
    <pages validateRequest="false">
      <controls>
        <!-- begin system control-->
        <add tagPrefix="system" tagName="top_menu" src="~/lib/ui/web/mnu/top_menu.ascx" />
        <add tagPrefix="system" tagName="left_menu" src="~/lib/ui/web/mnu/left_menu.ascx" />
        <add tagPrefix="system" tagName="left_menu_full" src="~/lib/ui/web/mnu/left_menu_full.ascx" />
        <add tagPrefix="system" tagName="top_bar" src="~/lib/ui/web/sys/top_bar.ascx" />
        <add tagPrefix="system" tagName="banner" src="~/lib/ui/web/sys/banner.ascx" />
        <add tagPrefix="system" tagName="Faqs" src="~/lib/ui/web/sys/Faqs.ascx" />
        <add tagPrefix="system" tagName="Gioi_thieu" src="~/lib/ui/web/sys/Gioi_thieu.ascx" />
        <add tagPrefix="system" tagName="Lien_he" src="~/lib/ui/web/sys/Lien_he.ascx" />
        <add tagPrefix="system" tagName="quang_cao" src="~/lib/ui/web/sys/quang_cao.ascx" />
        <add tagPrefix="system" tagName="top_bar" src="~/lib/ui/web/sys/top_bar.ascx" />
        <add tagPrefix="system" tagName="Trang_chu_Dang_nhap" src="~/lib/ui/web/sys/Trang_chu_Dang_nhap.ascx" />
        <add tagPrefix="system" tagName="path" src="~/lib/ui/web/sys/path.ascx" />
        <add tagPrefix="system" tagName="Footer" src="~/lib/ui/web/sys/Footer.ascx" />
        <add tagPrefix="system" tagName="Danh_muc_dich_vu" src="~/lib/ui/web/sys/Danh_muc_dich_vu.ascx" />
        <add tagPrefix="system" tagName="Tim_kiem" src="~/lib/ui/web/sys/Tim_kiem.ascx" />
        <add tagPrefix="system" tagName="Tim_kiem_ajax" src="~/lib/ui/web/sys/Tim_kiem_ajax.ascx" />
        <!-- end system control-->

        <!-- begin rao vat control-->
        <add tagPrefix="raoVat" tagName="Chi_tiet_Lien_quan" src="~/lib/ui/web/raoVat/Chi_tiet_Lien_quan.ascx" />
        <add tagPrefix="raoVat" tagName="Chi_tiet_Xem_chi_tiet" src="~/lib/ui/web/raoVat/Chi_tiet_Xem_chi_tiet.ascx" />
        <add tagPrefix="raoVat" tagName="Danh_muc_Danh_sach" src="~/lib/ui/web/raoVat/Danh_muc_Danh_sach.ascx" />
        <add tagPrefix="raoVat" tagName="Danh_muc_Vip" src="~/lib/ui/web/raoVat/Danh_muc_Vip.ascx" />
        <add tagPrefix="raoVat" tagName="Rao_vat_Danh_sach" src="~/lib/ui/web/raoVat/Rao_vat_Danh_sach.ascx" />
        <add tagPrefix="raoVat" tagName="Rao_vat_Vip" src="~/lib/ui/web/raoVat/Rao_vat_Vip.ascx" />
        <add tagPrefix="raoVat" tagName="Trang_chu_Moi" src="~/lib/ui/web/raoVat/Trang_chu_Moi.ascx" />
        <add tagPrefix="raoVat" tagName="left_menu_rv" src="~/lib/ui/web/raoVat/left_menu_rv.ascx" />
        <!-- end rao vat control-->

        <!-- begin huong dan control-->
        <add tagPrefix="huongDan" tagName="huongdan_chitiet" src="~/lib/ui/web/huongdan/huongdan_chitiet.ascx" />
        <add tagPrefix="huongDan" tagName="left_menu_huongdan" src="~/lib/ui/web/huongdan/left_menu_huongdan.ascx" />
        <!-- end huong dan control-->

        <!-- begin gioi thieu control-->
        <add tagPrefix="gioiThieu" tagName="gioithieu_chitiet" src="~/lib/ui/web/gioiThieu/gioithieu_chitiet.ascx" />
        <add tagPrefix="gioiThieu" tagName="left_menu_gioithieu" src="~/lib/ui/web/gioiThieu/left_menu_gioithieu.ascx" />
        <!-- end gioi thieu control-->

        <!-- begin san pham control-->
        <add tagPrefix="sanPham" tagName="Chi_tiet_Lien_he" src="~/lib/ui/web/sanPham/Chi_tiet_Lien_he.ascx" />
        <add tagPrefix="sanPham" tagName="Chi_tiet_Lien_quan" src="~/lib/ui/web/sanPham/Chi_tiet_Lien_quan.ascx" />
        <add tagPrefix="sanPham" tagName="Chi_tiet_Xem_chi_tiet" src="~/lib/ui/web/sanPham/Chi_tiet_Xem_chi_tiet.ascx" />
        <add tagPrefix="sanPham" tagName="Danh_muc_Danh_muc_con" src="~/lib/ui/web/sanPham/Danh_muc_Danh_muc_con.ascx" />
        <add tagPrefix="sanPham" tagName="Danh_muc_Danh_sach" src="~/lib/ui/web/sanPham/Danh_muc_Danh_sach.ascx" />
        <add tagPrefix="sanPham" tagName="San_pham_Danh_sach" src="~/lib/ui/web/sanPham/San_pham_Danh_sach.ascx" />
        <add tagPrefix="sanPham" tagName="San_pham_Tim_kiem_nhanh" src="~/lib/ui/web/sanPham/San_pham_Tim_kiem_nhanh.ascx" />
        <add tagPrefix="sanPham" tagName="Trang_chu_Dac_trung" src="~/lib/ui/web/sanPham/Trang_chu_Dac_trung.ascx" />
        <add tagPrefix="sanPham" tagName="Trang_chu_Moi" src="~/lib/ui/web/sanPham/Trang_chu_Moi.ascx" />
        <add tagPrefix="sanPham" tagName="SanPham_home_Dac_trung" src="~/lib/ui/web/sanPham/SanPham-Home/SanPham_home_Dac_trung.ascx" />
        <add tagPrefix="sanPham" tagName="SanPham_home_Moi" src="~/lib/ui/web/sanPham/SanPham-Home/SanPham_home_Moi.ascx" />
        <add tagPrefix="sanPham" tagName="Chi_tiet_Thong_tin_doanh_nghiep" src="~/lib/ui/web/sanPham/Chi_tiet_Thong_tin_doanh_nghiep.ascx" />
        <add tagPrefix="sanPham" tagName="Chi_tiet_Thong_tin_san_pham_top_right" src="~/lib/ui/web/sanPham/Chi_tiet_Thong_tin_san_pham_top_right.ascx" />
        <add tagPrefix="sanPham" tagName="Chi_tiet_Mo_ta_SanPham_top" src="~/lib/ui/web/sanPham/Chi_tiet_Mo_ta_SanPham_top.ascx" />
        <!-- end san pham control-->

        <!-- begin tin tuc control-->
        <add tagPrefix="tinTuc" tagName="Chi_tiet_Lien_quan" src="~/lib/ui/web/tinTuc/Chi_tiet_Lien_quan.ascx" />
        <add tagPrefix="tinTuc" tagName="Chi_tiet_Xem_chi_tiet" src="~/lib/ui/web/tinTuc/Chi_tiet_Xem_chi_tiet.ascx" />
        <add tagPrefix="tinTuc" tagName="Tin_tuc_Danh_muc" src="~/lib/ui/web/tinTuc/Tin_tuc_Danh_muc.ascx" />
        <add tagPrefix="tinTuc" tagName="Trang_chu_Diem_bao" src="~/lib/ui/web/tinTuc/Trang_chu_Diem_bao.ascx" />
        <add tagPrefix="tinTuc" tagName="Danh_muc_Danh_sach" src="~/lib/ui/web/tinTuc/Danh_muc_Danh_sach.ascx" />
        <add tagPrefix="tinTuc" tagName="left_menu_diembao" src="~/lib/ui/web/tinTuc/left_menu_diembao.ascx" />
        <!-- end tin tuc control-->
   
        <!-- begin adv control-->
        <add tagPrefix="adv" tagName="Trang_chu_218x180" src="~/lib/ui/web/adv/Trang_chu_218x180.ascx" />
        <add tagPrefix="adv" tagName="Trang_chu_Bottom" src="~/lib/ui/web/adv/Trang_chu_Bottom.ascx" />
        <add tagPrefix="adv" tagName="Trang_chu_Center" src="~/lib/ui/web/adv/Trang_chu_Center.ascx" />
        <add tagPrefix="adv" tagName="Trang_chu_Left" src="~/lib/ui/web/adv/Trang_chu_Left.ascx" />
        <add tagPrefix="adv" tagName="Trang_chu_Slides" src="~/lib/ui/web/adv/Trang_chu_Slides.ascx" />
        <!-- end adv control-->

        <!-- begin mamvui control-->
        <add tagPrefix="mam" tagName="mon_home" src="~/lib/ui/mamvui/mon/home.ascx" />
        <add tagPrefix="mam" tagName="comment_home" src="~/lib/ui/mamvui/comment/home.ascx" />
        <!-- end mamvui control-->
        

        <!-- begin video control-->
        <add tagPrefix="video" tagName="partner" src="~/lib/ui/video/home.ascx" />
        <add tagPrefix="video" tagName="view" src="~/lib/ui/video/view.ascx" />
        <!-- end video control-->
               
          <!-- begin Dien dan nha nong control-->
          <add tagPrefix="DdNn" tagName="Trang_chu_Dien_Dan_Nha_nong" src="~/lib/ui/web/DdNn/Trang_chu_Dien_Dan_Nha_nong.ascx" />
          <!-- end video control-->  
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add verb="*" path="*.connector" type="ElFinder.Connector.Connector" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.plugin" type="linh.httpModule.defaultHandle, linh.httpModule" />
      <add verb="*" path="*.captcha" type="linh.httpModule.Captcha, linh.httpModule" />
    </httpHandlers>
    <httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <ElFinder uplMaxSize="10" dotFiles="true">
    <Root Url="http://localhost:55599/files" Path="~/up" />
    <DisabledCommands>
      <add Name="duplicate" />
    </DisabledCommands>
    <DisabledMimeTypes>
      <add Name="application/exe" />
      <add Name="application/x-msdownload" />
    </DisabledMimeTypes>
  </ElFinder>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <!--<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="reWriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="209715200" maxAllowedContentLength="209715200" maxUrl="209715200">
          <headerLimits>
            <add header="Content-type" sizeLimit="209715200" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
        <handlers>
            <add name="rewrite" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
            </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <rewriter>
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.aspx|\.asmx|\.ashx|\.pdf|\.css|\.js)(\?.+)?)$" to="$1" processing="stop" />
    <rewrite url="~/lib/(.*)" to="~/lib/$1" processing="stop" />
    <if url=".html$">
      
      <rewrite url="~/Tin-tuc.html" to="~/lib/pages/Tin_tuc.aspx?kind=tinTuc" processing="stop" />
      <rewrite url="~/Tin-tuc/(.+)/(.+)/(.+)/(\d*).html" to="~/lib/pages/TinTuc_Tin_ChiTiet.aspx?kind=tinTuc&amp;DM_Alias=$1&amp;SubDM_Alias=$2&amp;Alias=$3&amp;ID=$4" processing="stop" />
      <rewrite url="~/Tin-tuc/(.+)/(\d*)/(.+)/(\d*).html" to="~/lib/pages/TinTuc_Tin_ChiTiet.aspx?kind=tinTuc&amp;DM_Alias=$1&amp;DM_ID=$2&amp;Alias=$3&amp;ID=$4" processing="stop" />

      <rewrite url="~/Danh-ba-Spa/(.+)/(\d*).html" to="~/lib/pages/Spa_view.aspx?kind=Spa&amp;SPA_ID=$2&amp;SPA_Alias=$1" processing="stop" />
      <rewrite url="~/Spa/(.+)/(\d*).html" to="~/lib/pages/Spa_view.aspx?kind=Spa&amp;SPA_ID=$2&amp;SPA_Alias=$1" processing="stop" />

      <rewrite url="~/Hoi-dap-Spa/(.+)/(.+)/(\d*).html" to="~/lib/pages/HoiDap_View.aspx?kind=Hoi-dap-Spa&amp;HD_ID=$3&amp;SPA_Alias=$1" processing="stop" />

      <rewrite url="~/Spa-khuyen-mai/(.+)/(\d*).html" to="~/lib/pages/Khuyen_mai_view.aspx?kind=Spa&amp;KM_ID=$2&amp;KM_Alias=$1" processing="stop" />

      <rewrite url="~/Video/(.+)/(\d*).html" to="~/lib/pages/Video.aspx?kind=video&amp;DM_Alias=$1&amp;ID=$2" processing="stop" />
      <rewrite url="~/Video.html" to="~/lib/pages/Video.aspx?kind=video" processing="stop" />
      <rewrite url="~/Dang-ky.html" to="~/lib/pages/dang-ky.aspx" processing="stop" />
      <rewrite url="~/Dang-nhap.html" to="~/lib/pages/Dang_nhap.aspx" processing="stop" />
      <rewrite url="~/Lien-he.html" to="~/lib/pages/LienHe.aspx" processing="stop" />
      <rewrite url="~/Gioi-thieu.html" to="~/lib/pages/GioiThieu.aspx" processing="stop" />
      <rewrite url="~/Dieu-khoan-su-dung.html" to="~/lib/pages/Tos.aspx" processing="stop" />
      <rewrite url="~/Huong-dan.html" to="~/lib/pages/Faqs.aspx" processing="stop" />
      <rewrite url="~/index.html$" to="~/lib/pages/Default.aspx" processing="stop" />
    </if>
    <if url=".htm$">
      <rewrite url="~/Tin-tuc/(\d*).htm" to="~/lib/pages/Tin_tuc.aspx?kind=tinTuc&amp;Pages=$1" processing="stop" />
      <rewrite url="~/Tin-tuc/(.+)/(.+)/(\d*)/(\d*).htm" to="~/lib/pages/TinTuc_DanhMuc.aspx?kind=tinTuc&amp;DM_Alias=$1&amp;SubDM_Alias=$2&amp;DM_ID=$3&amp;Pages=$4" processing="stop" />
      <rewrite url="~/Tin-tuc/(.+)/(\d*)/(\d*).htm" to="~/lib/pages/TinTuc_DanhMuc.aspx?kind=tinTuc&amp;DM_Alias=$1&amp;DM_ID=$2&amp;page=$3" processing="stop" />

      <rewrite url="~/Dich-vu-Spa/(.+)/(\d*)/(\d*)/(\d*).htm" to="~/lib/pages/DichVu_DanhMuc_KV.aspx?kind=DichVu&amp;DM_Alias=$1&amp;DM_ID=$2&amp;KV_ID=$3&amp;pages=$4" processing="stop" />
      <rewrite url="~/Dich-vu-Spa/(.+)/(\d*)/(\d*).htm" to="~/lib/pages/DichVu_DanhMuc_KV.aspx?kind=DichVu&amp;DM_Alias=$1&amp;DM_ID=$2&amp;KV_ID=$3" processing="stop" />

    </if>
    <if url="/$">
      
      <rewrite url="~/Tin-tuc/(.+)/(.+)/(\d*)/" to="~/lib/pages/TinTuc_DanhMuc.aspx?kind=tinTuc&amp;DM_Alias=$1&amp;SubDM_Alias=$2&amp;DM_ID=$3" processing="stop" />
      <rewrite url="~/Tin-tuc/(.+)/(\d*)/" to="~/lib/pages/TinTuc_DanhMuc.aspx?kind=tinTuc&amp;DM_Alias=$1&amp;DM_ID=$2" processing="stop" />

      <rewrite url="~/Dich-vu-Spa/(.+)/(\d*)/(\d*)/" to="~/lib/pages/DichVu_DanhMuc.aspx?kind=DichVu&amp;DM_Alias=$1&amp;DM_ID=$2&amp;pages=$3" processing="stop" />
      <rewrite url="~/Dich-vu-Spa/(.+)/(\d*)/" to="~/lib/pages/DichVu_DanhMuc.aspx?kind=DichVu&amp;DM_Alias=$1&amp;DM_ID=$2" processing="stop" />
      <rewrite url="~/Dich-vu-Spa/(\d*)/" to="~/lib/pages/DichVu.aspx?kind=DichVu&amp;pages=$1" processing="stop" />
      <rewrite url="~/Dich-vu-Spa/" to="~/lib/pages/DichVu.aspx?kind=DichVu" processing="stop" />

      <rewrite url="~/Hoi-dap-Spa/(.+)/(\d*)/(\d*)/" to="~/lib/pages/DichVu_DanhMuc.aspx?kind=Hoi-dap-Spa&amp;DM_Alias=$1&amp;DM_ID=$2&amp;pages=$3" processing="stop" />
      <rewrite url="~/Hoi-dap-Spa/(.+)/(\d*)/" to="~/lib/pages/HoiDap_DanhMuc.aspx?kind=Hoi-dap-Spa&amp;DM_Alias=$1&amp;DM_ID=$2" processing="stop" />
      <rewrite url="~/Hoi-dap-Spa/" to="~/lib/pages/HoiDap_DanhMuc.aspx?kind=Hoi-dap-Spa" processing="stop" />

      <rewrite url="~/Video/(.+)/(\d*)/" to="~/lib/pages/Video.aspx?kind=video&amp;DM_Alias=$1&amp;DM_ID=$2" processing="stop" />

      <rewrite url="~/Top-Spa/(.+)/(\d*)/" to="~/lib/pages/TopSpa_List.aspx?kind=Top-Spa&amp;DM_ID=$2" processing="stop" />
      <rewrite url="~/Top-Spa/Dang-ky/" to="~/lib/pages/TopSpa_DangKy.aspx?kind=Top-Spa" processing="stop" />
      <rewrite url="~/Top-Spa/" to="~/lib/pages/TopSpa.aspx?kind=Top-Spa" processing="stop" />
      
      <rewrite url="~/Spa/(.+)/(\d*)/(\d*)/" to="~/lib/pages/Spa_Theo_KhuVuc.aspx?kind=Spa&amp;DM_ID=$2&amp;DM_Alias=$1&amp;Page=$3" processing="stop" />
      <rewrite url="~/Spa/(.+)/(\d*)/" to="~/lib/pages/Spa_Theo_KhuVuc.aspx?kind=Spa&amp;DM_ID=$2&amp;DM_Alias=$1" processing="stop" />

      <rewrite url="~/Spa/(\d*)/" to="~/lib/pages/Spa_Theo_KhuVuc.aspx?kind=Spa&amp;Page=$1" processing="stop" />
      <rewrite url="~/Spa/$" to="~/lib/pages/Spa_Theo_KhuVuc.aspx?kind=Spa" processing="stop" />
      
      <rewrite url="~/Danh-Ba-Spa/" to="~/lib/pages/Spa_Theo_KhuVuc.aspx?kind=Spa" processing="stop" />


      <rewrite url="~/Spa-khuyen-mai/(\d*)/" to="~/lib/pages/KhuyenMai.aspx?kind=Spa-khuyen-mai&amp;page=$1" processing="stop" />
      <rewrite url="~/Spa-khuyen-mai/" to="~/lib/pages/KhuyenMai.aspx?kind=Spa-khuyen-mai" processing="stop" />
      
      
      <rewrite url="~/Spa-moi-khai-truong/$" to="~/lib/pages/Spa_moi_khai_truong.aspx?kind=Spa-moi-khai-truong" processing="stop" />

      <rewrite url="~/Dang-ky-spa/" to="~/lib/pages/DangKy-Spa.aspx" processing="stop" />
      
      <rewrite url="~/Home/" to="~/lib/pages/Default.aspx" processing="stop" />
      <rewrite url="~/$" to="~/lib/pages/Default.aspx" processing="stop" />
    </if>
  </rewriter>
</configuration>
